<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>
	
	<%- include('body-header') %>
	
	<section id="form"><!--form-->
		<div class="container" style="margin-bottom: 150px;">
			<div class="row align-items-center">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form" id="login_container">
						<h2>NHẬP MẬT KHẨU MỚI</h2>
							<form action="/reset-password/<%= acc.username %>" method="POST" onsubmit="handleUpdatePW();">
							<div class="form-group">
								<% if (acc) { %>
									<h2>Tên tài khoản:	 <%= acc.username %></h2>
								<% }%>
									<input class="form-control" type="password" id = 'resetpw' name='resetpw' placeholder="Nhập mật khẩu">
									<input class="form-control" type="password" id = 'resetpwagain' name='resetpwagain' placeholder="Nhập lại mật khẩu">
							</div>
							<td>
								<button type="submit" class="btn btn-default">XÁC NHẬN</button>
							</td>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	<%- include('footer') %> 

	<script>
	function handleUpdatePW() {
		const password = document.getElementById("resetpw").value;
		const passwordagain = document.getElementById("resetpwagain").value;
		
		if(password !== passwordagain){
			alert("Mật khẩu không khớp!")
			event.preventDefault(); 
			return false;
		}

		return true;
	};
	</script>
	
</body>
</html>